<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h1>All Users</h1>
    <table class="table ">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created at</th>
            </tr>
        </thead >
        <tbody class="table-hover table-group-divider">
            {% for one_user in every_users %}
            <tr>
                <td>{{ one_user.id }}</td>
                <td>{{ one_user.first_name }}</td>
                <td>{{ one_user.last_name }}</td>
                <td>{{ one_user.email }}</td>
                <td>{{ one_user.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/users/new" class="btn btn-dark"> Add a User</a>
</body>
</html>
